* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.body-index {
    background-image: url('https://i.imgur.com/0dXKJ7v.jpg');
    background-attachment: fixed;  
    background-size: cover; 
    background-position: center center; 
    font-family: 'Nunito', sans-serif;
    filter: brightness(90%);
}

a {
    text-decoration: none;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* ANIMATIONS */


@keyframes navbutton-left {
    0% {
        background-color: rgba(31, 9, 36, 0.849) ;
    }
    100% {
        background-color: rgb(233, 118, 118);
    }
}

/* NAVBAR/HEADER */

/* GRAPHICAL & TEXT COMPONENT 1 */
nav {
    background-color: rgb(255, 255, 255, 0.3);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: static;
}

.navdiv  {
    height: 3rem;
    width: 100px;
    max-width: 20rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    margin-left: 7%;
    border-radius: 20%;
}

header {
    color: white;
    position: sticky;
    top: 0;
}

#home-1 {
    background-color: rgb(233, 118, 118);
    font-size: 1rem;
}

#home-2:hover {
    animation: navbutton-left 1s ease-in-out forwards;
}

#home-2 {
    background-color: rgba(31, 9, 36, 0.849);
    font-size: 1rem;
}

#home-3:hover {
    animation: navbutton-left 1s ease-in-out forwards;
}

#home-3 {
    background-color: rgba(31, 9, 36, 0.849);
    font-size: 1rem;
}

/* HERO BLOCK */

.quote-line-break {
    line-height: 5rem;
}
.quotes {
    margin-top: 10rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-bottom: 2rem;
    border: 1px solid black;
    background-color: rgb(255, 127, 80, 0.2);
    padding: 2rem;
}

.quotes span {
    display: content;
}

#quote-1 {
    display: content;
    font-size: larger;
}

#quote-2 {
    display: none;
}

/* GRAPHICAL & TEXT COMPONENT 2 */


.hero-section {
     padding-right: 18%;
     padding-left: 14%;

}
.hero-block {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.hero-block img {
    flex-direction: column;
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.5rem solid rgb(255, 127, 80, 0.5);
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1vh;
    text-decoration: underline rgb(255, 127, 80);
    margin-bottom: 6rem;
    
}

.intro-para p {
    text-align: center;
    margin: 0% 20%;
    margin-top: 6rem;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: rgb(255, 127, 80, 0.2);
    border: 1px solid black;

}

h2 {
    text-align: center;
    padding-bottom: 3vh;
    font-size: 2.5rem;
    padding-right: 8%;
    padding-top: 10%;
    padding-left: 5%;
}

h2 u {
    text-decoration: underline rgb(255, 127, 80);
    color: black;
}

/* TECH STACK */

/* GRAPHICAL & TEXT COMPONENT 3 */

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    margin-bottom: 1rem;
    
}

.tech-stack div {
    background-color: rgb(255, 127, 80, 0.2);
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 8%;
    margin-bottom: 1rem;
}

.tech-stack div p {
    color: white;
}

#tech-img-1 {
    width: 70%;
    height: 13vh;

}
#tech-img-2 {
    width: 70%;
    height: 13vh;

}

/* #tech-img-3 {
    width: 70%;
    height: 13vh;
    /* border: 0.3rem solid red;
    border-radius: 50%; 
} */

/* #tech-img-4 {
    width: 70%;
    height: 13vh;
    /* border: 0.3rem solid red;
    border-radius: 50%; 
} */

/* FOOTER */

.index-footer {
    display: flex;
    margin-top: 25vh;
    background-color: black;
    height: 5vh;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4vh
}

.html-footer-div {
    height: 5vh;
    background-color: black;
    width: 100%;
}




.html-footer-div-2 {
    height: 7vh;
    background-color: black;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;

}

.html-footer-div-2 p {
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

#footer-buttons-1:hover {
    color: #E88D67;
    cursor: pointer;
}

#footer-buttons-2:hover {
    color: #E88D67;
    cursor: pointer;
}

#footer-buttons-3:hover {
    color: #E88D67;
    cursor: pointer;
}

@media screen and (max-width: 580px) {
    .quotes {
        margin-top: 25rem;
    }

    .intro-para p {
        margin-top: 20rem;
    }
}
@media screen and (min-width: 580px) {
    nav {
    padding-left: 20%;
    padding-right: 10%;
    }

    .intro-para {
        padding-right: 10%;
    }

    #quote-2 {
        display: contents;
        font-size: larger;
    }
    
    #quote-1 {
        display: none;
    }

    .intro-para {
        padding-left: 8%;
    }

    .tech-stack div {
        flex-basis: calc(50% - 13%);
        margin-left: 5%;
    }
    
}

@media screen and (min-width: 820px) {
    .tech-stack {
        max-width: 900px;
        padding-right: 7%;
        margin-left: auto;
        margin-right: auto;
        
    }

    .intro-para {
       font-size:larger;

    }

    .quotes {
        margin-right: 5%
    }
    }

    /* CONNECT PAGE */

    /* BODY */

    .body-connect {
    background-image: url('https://i.imgur.com/wAJa7P2.jpg');
    background-attachment: fixed;  
    background-size: cover; 
    background-position: center center; 
    font-family: 'Nunito', sans-serif;
    filter: brightness(90%);
     }

    /* NAV */

    .navdiv-connect {
    height: 3rem;
    width: 100px;
    max-width: 20rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    margin-left: 7%;
    border-radius: 20%;
    }

    .connect-nav {
        position: static;
    }

    #connect-1 {
        background-color:  rgba(31, 9, 36, 0.849);
        font-size: 1rem;

    }
    
    #connect-1:hover {
        animation: navbutton-left 1s ease-in-out forwards;
    }
    
    #connect-2:hover {
        animation: none;
       
    }
    #connect-3:hover {
        animation: navbutton-left 1s ease-in-out forwards;
    }
    
    #connect-2 {
        background-color:rgb(233, 118, 118);
        font-size: 1rem;
    }
    
    #connect-3 {
        background-color: rgba(31, 9, 36, 0.849);
        font-size: 1rem; 
    }

    /* INTRO */

    .h1-connect {
        margin-top: 5vh;
        text-align: center;
        text-decoration: underline rgb(128, 0, 128, 0.5);

    }

    .connect-intro {
        text-align: center;
        padding-bottom: 10%;
        padding-top: 10%;
        font-size: 1.5rem;
        margin: 0% 10%;
        text-align: center;
    }

    .connect-intro p {
        text-align: center;
        margin: 0% 15%;
        margin-bottom: 0;
        padding: 2rem;
        font-size: 1.5rem;
        background-color: rgb(128, 0, 128, 0.2);
        border: 1px solid black;
    }

    .connect-intro p:nth-child(3) {
        text-align: left;
    }


    /* ICON SECTION */

    .icon-section {
        background-color:rgb(255, 255, 255, 0.5);
        display: flex;
        width: 50%;
        min-width: 190px;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
    }


    .icon-section img {
        border-radius: 50%;
        width: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: auto
    }

    .icon-section div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    /* RESUME SECTION */

    .resume-section {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
      
    }

    .resume-section img {
        height: 35vh;
        width: 80%;
        max-width: 300px;
    }

    .connect-h2 {
        text-align: center;
        text-decoration: underline rgb(128, 0, 128, 0.5);
    }

    /* FOOTER */

    .connect-footer {
    display: flex;
    margin-top: 70vh;
    background-color: black;
    height: 5vh;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4vh
    }

    .footer-div {
        height: 5vh;
        background-color: black;
        width: 100%;
    }


    .footer-div-2 {
        height: 5vh;
        background-color: black;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .footer-div-2 p {
        display: inline-block;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    #footer-buttons-1-connect:hover {
        color: rgb(226, 85, 85);
        cursor: pointer;
    }

    #footer-buttons-2-connect:hover {
        color: rgb(226, 85, 85);
        cursor: pointer;
    }

    #footer-buttons-3-connect:hover {
        color: rgb(226, 85, 85);
        cursor: pointer;
    }

    /* MEDIA QUERIES FOR CONNECT PAGE */

    @media (max-width: 630px) {
        .icon-section div {
            flex-wrap: wrap; 
            display: flex;
        
        }
    }

    @media (min-width: 980px) {

        .connect-intro {
           margin: 0% 20%;
        }

        .resume-section img {
            max-width: 900px;
            margin-right: 20%
        }
    }

    /* DIVIDER */


    .divider {
        position: relative;
        margin: 20px 0; 
        max-width: 70%;
        margin-top: 2rem;
        margin-left: 14%
    }

    .divider::before {
        content: "";
        display: block;
        height: 3px; 
        transform: translateY(-50%);
        background-color: white; 
        position: absolute;
        right: 0;
        top: 50%;
        left: 0;
    }

    /* BLOG PAGE */

    /* NAVBAR */

    #blog-1 {
        background-color: rgba(31, 9, 36, 0.849);
        font-size: 1rem;
    }

    #blog-2 {
        background-color: rgba(31, 9, 36, 0.849);
        font-size: 1rem;
    }

    #blog-3 {
        background-color:rgb(226, 85, 85);
        font-size: 1rem;
    }

    #blog-2:hover {
        background-color:rgb(226, 85, 85);
        font-size: 1rem;
        animation: navbutton-left 1s ease-in-out forwards;
    }

    #blog-1:hover {
        background-color:rgb(226, 85, 85);
        font-size: 1rem;
        animation: navbutton-left 1s ease-in-out forwards;
    }

    /* BODY */

.body-blog {
    background-image: url('https://i.imgur.com/AtUhKEh.jpg');
    background-attachment: fixed;  
    background-size: cover; 
    background-position: center center; 
    font-family: 'Nunito', sans-serif;
    filter: brightness(90%);
}

.blog-h1 {
    text-align: center;
    text-decoration: underline rgba(82, 22, 160, 0.5);
    margin-top: 8vh;
    margin: 10% 15%;
}

.blog-intro-section {
    height:  auto;
    background-color: rgba(82, 22, 160, 0.3);
    margin: 0% 7%;
    font-size: 2rem;
    margin-bottom: 10rem;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* GRAPHICAL & TEXT COMPONENT 4 */

.blog-section {
    background-color: rgba(103, 53, 168, 0.3);
    height: auto;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 2rem 2rem;
    border: 3px solid rgba(82, 22, 160, 0.7);
    margin-bottom: 3rem;
}

.blog-section img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 25vh;
    max-width: 100%;
    border: 4px solid black;
}

.blog-section:hover {
    background-color: rgba(82, 22, 160, 0.7);
  }

.a-blog {
    color: black
}


.blog-section p {
    font-size: larger;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.blog-section h2 {
    text-decoration: underline rgba(82, 22, 160, 0.9);
}


/* FOOTER */

#blog-footer {
    display: flex;
    margin-top: 25vh;
    background-color: black;
    height: 5vh;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4vh
}

/* MEDIA QUERIES */

@media screen and (max-width: 580px) {
    .blog-section {
        width: 80%
    }
}

/* BLOGPAGE */

.body-blogpage {
    background-image: url('https://i.imgur.com/qmIcKdf.jpg');
    background-attachment: fixed;  
    background-size: cover; 
    background-position: center center; 
    font-family: 'Nunito', sans-serif;
    filter: brightness(90%);
}

.blogpage-article ol li {
    padding: 1rem 0;
}

.blogpage-h1 {
    text-decoration: underline rgba(160, 22, 45, 0.9);
    padding-top: 2rem;
}

.blogpage-section {
    background-color: rgba(160, 22, 45, 0.3);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: x-large;
    border: 4px solid rgba(160, 22, 45, 0.9);

}

.blogpage-article {
    padding: 2rem 3rem;
    display: block
}

.blogpage-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.blogpage-section img {
    height: 25vh;
    max-width: 100%;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

/* ASIDE */

.aside {
    overflow: auto; 
    height: 50vh; 
    border: 4px solid rgba(160, 22, 45, 0.9); 
    background-color: rgba(160, 22, 45, 0.3);
    margin-left: 2rem;
    margin-top: 5rem;

  }

  .aside-div{
    padding: 1rem;
    max-width: 30rem;
  }

  .blogpage-flexdiv {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .aside-div p {
    text-align: center;
  }

  .blog-section-aside {
    background-color: rgba(160, 22, 45, 0.3);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: x-large;
    border: 4px solid rgba(160, 22, 45, 0.9);
    margin-top: 1rem;
  }

  .blog-section-aside img {
    height: 15vh;
    max-width: 100%;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
  }

  
  h3 {
    text-align: center;
    padding: 1rem;
    text-decoration: underline rgba(160, 22, 45, 0.9);
    font-size: 2rem;
  }

  .a-blogpage {
    text-decoration: underline rgba(160, 22, 45, 0.9);
    padding-top: 2rem;
    color: black;
  }
  .blog-section-aside:hover {
    background-color: rgba(160, 22, 45, 0.7);
  }

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    aside {

    }
    .blogpage-flexdiv {
        display: block;
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background: #f88f8f;
  }
  ::-webkit-scrollbar-thumb {
    background: #921515;
 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #bb2929;
  }


  /* INDIVIDUAL BLOGPAGES */

