* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.body-index {
    background-image: url('https://i.imgur.com/3LCZTim.jpg');
    background-attachment: fixed;  
    background-size: cover; 
    background-position: center center; 
    font-family: 'Nunito', sans-serif;
    filter: brightness(90%);
    /* margin-left: 5%; */
}

/* ANIMATIONS */


@keyframes navbutton {
    0% {
        background-color: rgba(9, 36, 9, 0.849);
    }
    100% {
        background-color: rgb(233, 118, 118);
    }
}

/* NAVBAR/HEADER */

nav {
    background-color: rgb(255, 255, 255, 0.3);
    height: 10vh;
    width: 100%;
    display: flex;
    padding-right: 25%;
    padding-left: 18%;
    justify-content: flex-end;
    align-items: center;
    position: static;
}

.navdiv  {

    height: 3rem;
    width: 100px;
    max-width: 20rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    margin-left: 7%;
    border-radius: 20%;
   
    
}

.navdiv:hover {
    
}
header {
    color: white;
    position: sticky;
    top: 0;
}

#home-1 {
    background-color: rgb(233, 118, 118);
    font-size: 1rem;
    border: 1px solid black
}

nav div:nth-child(1):hover {
    
}

nav div:nth-child(2):hover {
    
}
nav div:nth-child(3):hover {
   
}

#home-2 {
    background-image: linear-gradient(to right, rgb(226, 85, 85), rgba(31, 9, 36, 0.849));
    font-size: 1rem;
    border: 1px solid black;
    
}

#home-3 {
    background-color: rgba(31, 9, 36, 0.849);
    font-size: 1rem;
    border: 1px solid black;
    
}


/* HERO BLOCK */

.quotes {
    margin-bottom: 2rem;
    margin-top: 10rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-bottom: 1.5rem;
    border: 1px solid black;
    background-color: rgb(255, 127, 80, 0.2);
}
.quotes span {
    display: content;
}

#quote-1 {
    display: content;
    font-size: larger;
}

#quote-2 {
    display: none;
}


.hero-section {
     padding-right: 18%;
     padding-left: 14%;
}
.hero-block {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.hero-block img {
    flex-direction: column;
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.5rem solid rgb(255, 127, 80, 0.5);
}

h1 {
    font-size: 3rem;
    text-align: center;
    /* background-color: rgb(255, 127, 80, 0.2); */
    margin-top: 1vh;
    text-decoration: underline rgb(255, 127, 80);
    
}

.intro-para p {
    display: flex;
    align-items: center;   
    justify-content: center;
    text-align: center;
    padding-right: 30%;
    padding-left: 26%;
    margin-top: 6rem;
    font-size: 1.5rem;
    background-color: rgb(255, 127, 80, 0.2);
    border: 1px solid black;

}

h2 {
    text-align: center;
    padding-bottom: 3vh;

    font-size: 2.5rem;
    padding-right: 8%;
    padding-top: 10%;
    padding-left: 5%;
}

h2 u {
    text-decoration: underline rgb(255, 127, 80);
    text-decoration-thickness: 0.15em;
    color: black;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    margin-bottom: 1rem;
    
}

.tech-stack div {
    background-color: rgb(255, 127, 80, 0.2);
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 8%;
    margin-bottom: 1rem;
}

.tech-stack div p {
    color: white;
}

#tech-img-1 {
    width: 70%;
    height: 13vh;

}
#tech-img-2 {
    width: 70%;
    height: 13vh;

}
/* #tech-img-3 {
    width: 70%;
    height: 13vh;
    /* border: 0.3rem solid red;
    border-radius: 50%; 
} */
/* #tech-img-4 {
    width: 70%;
    height: 13vh;
    /* border: 0.3rem solid red;
    border-radius: 50%; 
} */

/* FOOTER */

.index-footer {
    display: flex;
    margin-top: 70vh;
    background-color: black;
    height: 5vh;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4vh
    }

    .html-footer-div {
        height: 5vh;
        background-color: black;
        width: 100%;
    }




    .html-footer-div-2 {
        height: 7vh;
        background-color: black;
        display: block;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    .html-footer-div-2 p {
        display: inline-block;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }

#footer-buttons-1:hover {
    color: #E88D67;
    cursor: pointer;
}

#footer-buttons-2:hover {
    color: #E88D67;
    cursor: pointer;
}

#footer-buttons-3:hover {
    color: #E88D67;
    cursor: pointer;
}

@media screen and (min-width: 580px) {
    nav {
    padding-left: 20%;
    padding-right: 10%;

    }

    .intro-para {
        padding-right: 10%;
    }

    #quote-2 {
        display: contents;
        font-size: larger;
    }
    
    #quote-1 {
        display: none;
    }

    .intro-para {
        padding-left: 8%;
    }

    .tech-stack div {
        flex-basis: calc(50% - 13%);
        margin-left: 5%;
    }
    
}

@media screen and (min-width: 820px) {
    .tech-stack {
        max-width: 900px;
        padding-right: 7%;
        margin-left: auto;
        margin-right: auto;
        
    }

    .intro-para {
       font-size:larger;

    }

    /* .tech-stack div {
        margin-right: %;
    } */

    .quotes {
        margin-right: 5%
    }
    
    }



    /* CONNECT PAGE */

    /* BODY */

    .body-connect {
    background-image: url('https://i.imgur.com/wAJa7P2.jpg');
    background-attachment: fixed;  
    background-size: cover; 
    background-position: center center; 
    font-family: 'Nunito', sans-serif;
    filter: brightness(90%);
    }

    /* NAV */

    .navdiv-connect {
    height: 3rem;
    width: 100px;
    max-width: 20rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    margin-left: 7%;
    border-radius: 20%;
    }

    .connect-nav {
        position: static;
    }

    #connect-1 {
        background-image: linear-gradient(to left, rgb(226, 85, 85), rgba(31, 9, 36, 0.849));
        font-size: 1rem;
        /* border: 1px solid white; */
    }
    
    #connect-1:hover {
        animation: navbutton 1s forwards;
    }
    
    #connect-2:hover {
        animation: none;
       
    }
    #connect-3:hover {
        animation: navbutton 1s forwards;
    }
    
    #connect-2 {
        background-color:rgb(226, 85, 85);
        font-size: 1rem;
        /* border: 1px solid white; */
        
    }
    
    #connect-3 {
        background-image: linear-gradient(to left, rgba(31, 9, 36, 0.849), rgb(226, 85, 85));
        font-size: 1rem;
        /* border: 1px solid white; */
        
    }
    /* INTRO */

    .h1-connect {
        margin-top: 5vh;
        text-align: center;
        text-decoration: underline rgb(128, 0, 128, 0.5);

    }

    .connect-intro {
        text-align: center;
        padding-bottom: 10%;
        padding-top: 10%;
        font-size: 1.5rem;
        margin: 0% 10%;
    }

    .connect-intro p {
        padding-bottom: 2rem;
        background-color: rgb(128, 0, 128, 0.2);
    }


    /* ICON SECTION */

    .icon-section {
        background-color:rgb(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }


    .icon-section img {
        border-radius: 50%;
        width: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icon-section div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        /* flex-direction: column; */
    }

    #icon-1 {
 
    }

    /* RESUME SECTION */

    .resume-section {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .connect-h2 {
        text-align: center;
        text-decoration: underline rgb(128, 0, 128, 0.5);
    }

    /* FOOTER */

    .connect-footer {
    display: flex;
    margin-top: 70vh;
    background-color: black;
    height: 5vh;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4vh
    }

    .footer-div {
        height: 5vh;
        background-color: black;
        width: 100%;
    }


    .footer-div-2 {
        height: 5vh;
        background-color: black;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .footer-div-2 p {
        display: inline-block;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    #footer-buttons-1-connect:hover {
        color: rgb(226, 85, 85);
        cursor: pointer;
    }

    #footer-buttons-2-connect:hover {
        color: rgb(226, 85, 85);
        cursor: pointer;
    }

    #footer-buttons-3-connect:hover {
        color: rgb(226, 85, 85);
        cursor: pointer;
    }

    /* MEDIA QUERIES FOR CONNECT PAGE */

    @media (max-width: 630px) {
        .icon-section div {
            flex-wrap: wrap; 
            display: flex;
        
        }
    }

    @media (min-width: 980px) {

        .connect-intro {
           margin: 0% 20%;
        }
    }

    /* DIVIDER */


    .divider {
        position: relative;
        margin: 20px 0; 
        max-width: 70%;
        margin-left: 14%
    }

    .divider::before {
        content: "";
        display: block;
        height: 3px; 
        transform: translateY(-50%);
        background-color: white; 
        position: absolute;
        right: 0;
        top: 50%;
        left: 0;
    }

